/* 配置亮色模式下滑时导航栏文字颜色 */
html[data-user-color-scheme="light"] .top-nav-collapse :is(.nav-link, strong) {
    color: #222 !important;
}

/* mac代码样式 */
figure.highlight {
    transition: background .2s ease-in-out;
    background: var(--highlight-bg-color);
    border-radius: 5px;
    box-shadow: 0 4px 7px 0 rgba(0, 0, 0, .4);
    padding-top: 30px
}
figure.highlight::before {
    content: ' ';
    position: absolute;
    left: 12px;
    top: 9px;
    background: #fc625d;
    border-radius: 50%;
    box-shadow: 20px 0 #fdbc40, 40px 0 #35cd4b;
    height: 12px;
    width: 12px;
}
figure.highlight > table {
    border-top-style: solid;
    border-top-width: 1px;
    transition: border-top-color .3s;
}
/* 亮色 */
html[data-user-color-scheme="light"] figure.highlight > table {
    border-top-color: #eee;
}
/* 暗色 */
html[data-user-color-scheme="dark"] figure.highlight > table {
    border-top-color: #444;
}

/* `` 的样式配置 */
/* 亮色 */
html[data-user-color-scheme="light"] {
    --inlinecode-bg-color: #fef0f0
}
html[data-user-color-scheme="light"] .markdown-body p code,
html[data-user-color-scheme="light"] li code{
    color: #c7254e;
}
/* 暗色 */
html[data-user-color-scheme="dark"] {
    --inlinecode-bg-color: rgba(254, 240, 240, 0.1);
}
html[data-user-color-scheme="dark"] .markdown-body p code,
html[data-user-color-scheme="dark"] li code{
    color: #f3b37f;
}

/* 加入iframe默认样式 */
iframe {
    border: none;
    background-color: white;
}
